<section class="mainbar" data-ng-init="vm.toViewSchedule()">

    <div class="panel panel-primary">
        <div class="panel-heading">
            Schedule View
        </div>
        <div class="panel-body">

            <form novalidate>
                <formly-form model="vm.schedule" fields="vm.formFields">
                </formly-form>
            </form>
            dateStart: 
            {{vm.schedule.dateStart| date:'yyyy-MM-dd HH:mm:ss'}}
            <br>
            dateEnd: 
            {{vm.schedule.dateEnd| date:'yyyy-MM-dd HH:mm:ss'}}
            <hr/>
            <div>
                <a class="btn btn-success" href="/schedule/{{vm.schedule.id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i> Edit
                </a>
                <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.schedule">
                    <i class="glyphicon glyphicon-remove-circle"></i> Delete
                </a>
                <a class="btn btn-primary" href="/schedule">
                    <i class="glyphicon glyphicon-list"></i> List Schedules
                </a>
            </div>

        </div>
    </div>

</section>
