<section class="mainbar" data-ng-init="vm.toViewPreset()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Preset View
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.preset" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/preset/{{vm.preset.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Edit
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="vm.remove()" item="vm.preset">
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        </a>
        <a class="btn btn-primary" href="/preset">
          <i class="glyphicon glyphicon-list"></i> List Presets
        </a>
      </div>

    </div>
  </div>

</section>
